.star{
   &__big-black{
      position: absolute;
      width: 40px;
      height: 40px;
      right: 36px;
      top: 784px;
      fill: var(--color-primary-dark);
      transform: rotate(-855deg);
      animation-name: stars-spin;
      animation-duration: 2.5s;

      @media screen and (min-width: $bp-desktop) {
         position: absolute;
         width: 64px;
         height: 64px;
         right: 420px;
         top: 1225px;
         fill: var(--color-primary-dark);
         transform: rotate(-855deg);
         animation-name: stars-spin;
         animation-duration: 2.5s;
      }
   }

   &__little-black{
      fill: transparent;

      @media screen and (min-width: $bp-desktop) {
         position: absolute;
         width: 16px;
         height: 16px;
         right:100px;
         top: 1132.68px;
         fill: var(--color-secondary-light);
         transform: rotate(697deg);
         animation-name: stars-spin;
         animation-duration: 2.5s;
      }
   }

   &__blue{
      fill: transparent;

      @media screen and (min-width: $bp-desktop) {
         position: absolute;
         width: 40px;
         height: 40px;
         right: 74px;
         top: 889px;
         fill: var(--color-brand);
         transform: rotate(800deg);
         animation-name: stars-spin;
         animation-duration: 2.5s;
      }
   }
}
