
.procedures-section{

   @media screen and (min-width: $bp-desktop){
   padding: 0 112px;
   }

   &__slider{
      display: flex;
      align-items: center;
      gap: 32px;
   }

   &__container {
      overflow: hidden;
   }

   &__list {
      margin-bottom: 32px;
   }

   &__tittle{
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-weight: 700;
      font-size: 32px;
      line-height: 1.1;
      text-align: center;
      padding-top: 40px; 
      
      @media screen and (min-width: $bp-desktop) {
         color: var(--color-primary-dark);
         font-family: 'Play', sans-serif;
         text-align: center;
         font-size: 64px;
         font-weight: 700;
         line-height: 1.15;
         margin-bottom: 48px;
         padding-top: 104px;
      }
   }
   
   &__button{
      display: none;

      @media screen and (min-width: $bp-desktop) {
      display: flex;
      }
   }
}

















